  <ion-content id="page6">
    <div style="background:url(assets/imgs/bg.png) no-repeat center;background-size:cover; height: 100%">
      <div class="spacer" style="height:80px;" id="hakkinda-spacer3"></div>
      <div id="hakkinda-container5">
        <img src="assets/imgs/logo.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
        <div id="hakkinda-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:20px;">
            Movietify
          </p>
        </div>
      </div>
      <div class="spacer" style="width:300px;height:50px;" id="hakkinda-spacer3"></div>
      <h4 id="hakkinda-heading5" style="color:#FFFFFF;font-weight:400;font-style:italic;text-align:center;">
        Geliştiriciler
      </h4>
      <div class="spacer" style="width:300px;height:18px;" id="hakkinda-spacer5"></div>
      <div id="hakkinda-container6">
        <div id="hakkinda-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:15px;">
            Hande Ebrar GÜNEŞDOĞDU
          </p>
        </div>
        <div id="hakkinda-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:15px;">
            Ahmet DURMUŞ
          </p>
        </div>
      </div>
      <div id="hakkinda-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:15px;">
          Ender İMEN
        </p>
      </div>
      <div id="hakkinda-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:15px;">
          İsmail ENGİN
        </p>
      </div>
      <div class="spacer" style="width:300px;height:29px;" id="hakkinda-spacer6"></div>
      <button id="hakkinda-button5" style="font-size:20px;background: none;color: white;display: flex;flex-direction: column;align-items: center;justify-content: center;
      width: 100%;" (click)="goToHome()">
        Geri Dön
      </button>
      <div class="spacer" style="height:60px;" id="hakkinda-spacer6"></div>
      <p style="color:#FFFFFF;font-size:11px;text-align: center">
          Tüm Hakları Saklıdır. 2019 ©
        </p>
    </div>
  </ion-content>
