<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Profil
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
      <div class="movie" style="background:url('/assets/imgs/user-profile-bg.jpg') no-repeat center;background-size:cover;height: 100%;">
        <div class="crown">
          <img src="/assets/imgs/crown.png" alt="" height="32" width="42">
          <span class="white">18</span>
        </div>
        
        <div class="profile-info">
          <span><img src="/assets/imgs/ahmedo.jpg" height="100" width="100"></span>
  
          <h3 class="white">Ahmet Durmuş</h3>
          <p class="country"><i>Konya, Turkiye</i></p>
          <hr class="line">
        </div>
  
        <h4 style="margin-left: 10px;">Listelerim</h4>
  
        <div class="lists">
          <div class="movielist">
            <p style="margin-left:20px;">Beğendiklerim</p>
            <div class="list-group">
              <span>18 adet</span>
              <img src="/assets/imgs/remove-movie.png" height="50" width="50">
            </div>
          </div>
  
          <div class="movielist">
            <p style="margin-left:20px;">Beğendiklerim</p>
            <div class="list-group">
              <span>18 adet</span>
              <img src="/assets/imgs/remove-movie.png" height="50" width="50">
            </div>
          </div>
  
          <div class="movielist">
            <p style="margin-left:20px;">Beğendiklerim</p>
            <div class="list-group">
              <span>18 adet</span>
              <img src="/assets/imgs/remove-movie.png" height="50" width="50">
            </div>
          </div>
  
          <div class="movielist">
            <p style="margin-left:20px;">Beğendiklerim</p>
            <div class="list-group">
              <span>18 adet</span>
              <img src="/assets/imgs/remove-movie.png" height="50" width="50">
            </div>
          </div>
  
          <div class="movielist">
            <p style="margin-left:20px;">Beğendiklerim</p>
            <div class="list-group">
              <span>18 adet</span>
              <img src="/assets/imgs/remove-movie.png" height="50" width="50">
            </div>
          </div>
          <div class="create-list-button" onclick="listAddPopup()">+</div>
        </div>  
      </div>
</ion-content>
